body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'VT323', monospace;
    height: 100vh;
    background-color: #1c1b18;
	margin: 0px; 
}
.map
{
	display: flex;
	flex-direction: column;
	background-image: url(../media/img/background.jpg);
    background-repeat: repeat;
	padding: 20px;
    position: relative;
    z-index: 1;
}

.game-container
{
    display: flex;
    flex-direction: column;
}

.pacman-lifes, .gameStadistics,.pacman-time
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gameStadistics
{
    display: flex;
    justify-content: space-between;
    background-color: #04162F;
    border-radius: 15px 15px 0 0;
    color: #f0f0f0;
    font-size: 30px;
    padding: 10px;
    border: 5px solid #2C2C2C;
    padding: 5px 15px;
}
p
{
    margin: 0;
}

.heart{
    height: 40px;
}

.pacman-score  {
    display: flex;
    flex-direction: row;
}
.pacman-score p:last-child
{
    margin-left: 5px;
}

.row
{
	display: flex;
	flex-direction:row ;
}

.point,.wall, .powerup, .empty ,.enemy-lair, #pacman ,.enemy{
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.pacman
{
    content: url("../media/img/pacman.gif");
}

.enemy
{
    content: url("../media/img/lion.gif");
}



.point {
    content: url("../media/img/point.jpg");
    padding: 6px;
    border-radius: 50%;
    box-sizing: border-box;
}

.wall {
    content: url("../media/img/wall.png");
    background-color: transparent;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(1px) }
    50% { transform: translateX(-1px) }
    75% { transform: translateX(1px) }
    100% { transform: translateX(0) }
}
.powerup {
    content: url("../media/img/panel.png");
    animation: horizontal-shaking 1s infinite;
}

.screen
{
    position: relative;
    border-radius: 0 0 15px 15px;
    border: 20px solid #2C2C2C;
}


@keyframes colorTransition 
{
    0% {
        border-color: rgb(255, 0, 0); 
    }
    25% {
        border-color: rgb(0, 255, 0); 
    }
    50% {
        border-color: rgb(0, 0, 255); /
    }
    75% {
        border-color: rgb(255, 255, 0); 
    }
    100% {
        border-color: rgb(255, 0, 0); 
    }
}

.active {
    animation: colorTransition 2s infinite alternate;
}

#gameOverScreen
{
    background-color: rgba(0, 0, 0, 0.8);
    z-index:4;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f0f0f0;
    display: none;
    z-index: 2;
    font-size:40px;
}

.buttonGame {
    font-family: 'VT323', monospace;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ffffff 100%);
	background-color:#eae0c2;
	border-radius:11px;
	cursor:pointer;
	color:#505739;
	font-size:24px;
	font-weight:bold;
	padding:11px 25px;
	text-shadow:0px 0px 25px #ffffff;
}
.buttonGame:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #eae0c2 100%);
	background-color:#ffffff;
}
.buttonGame:active {
	position:relative;
	top:1px;
}

.outer {
    position: relative;
    max-width: 600px;
  }

div.game-container {
    position: relative;
    filter: url(#chromatic-filter);
}


/* CRT EFFECTS */

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(78, 75, 75, 0) 50%, rgba(49, 48, 48, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }

  @keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
  }

  @media (min-width: 16.01in) {
    .point,.wall, .powerup, .empty ,.enemy-lair, #pacman ,.enemy{
        width: 19px;
        height: 19px;
        border-radius: 3px;
    }

    .point {
        padding: 7px;
        border-radius: 50%;
    }
}